---
#
---

@import 'minima';

img {
  margin: 0 auto;
  display: block;
}

.plot {
    background-color: #f4f4f4;
    margin: 25px;
    padding: 20px;
}
.plot > p:last-child {
  margin: 0;
}

.ex {
  background-color: #ffffe0;
  margin: 25px;
  padding: 20px;
}

.chapter-division {
  font-size: 30px;
  word-spacing: 60px;
  text-align: center;
  padding: 20px;
  margin-bottom: 100px;
}
